body {
	margin: 0;
	/* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Playfair Display", sans-serif; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #F7F7F7;
	font-family: "Montserrat", sans-serif;
}

* {
	font-size: 18px;
}

#root {
	height: 100vh;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.content {
	padding: 5px;
}

.header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 0;
	background: #ffffff;
	border-bottom: 1px solid #999;
}

.App {
	height: inherit;
}

.header-home {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	margin: 0;
	background: #136DAB;
	border: 1px solid #999;
	min-height: 92vh;
}

.header-home a {
	color: #0072ff;
	text-decoration: none;
	text-align: center;
	display: block;
	border-bottom: 1px solid #ffffff;
	width: 100%;
}

.header-home .cell {
	min-height: 120px;
	min-width: 120px;
}

.header-home .cell:hover {
	background-color: #00518E;
	transition: 0.2s;
}

.header-home .active .cell {
	background-color: #00518E;
}

.header .emkk {
	margin-right: auto;
}

.header .link {
	padding: 0 15px;
	color: #0072ff;
	text-decoration: none;
}

.header .emkk {
	padding: 0 15px;
}

.header a:hover {
	color: #8a0f53;
}

.header small {
	color: #666;
}

.header .active {
	color: #2c7613;
}

.inputField {
	border: none;
	background: transparent;
	border-bottom: 1px solid;
	width: 40vh;
}


.inputField:focus {
	outline: none;
}

.formInputField {
	width: 400px;
	height: 35px;
}


.rdt_TableCol {
	white-space: normal !important;
	word-wrap: break-word !important;
	overflow-wrap: break-word !important;
	overflow: visible !important;
}

.rdt_TableCol_Sortable {
	white-space: normal !important;
	word-wrap: break-word !important;
	overflow-wrap: break-word !important;
	overflow: visible !important;
}


.lnndaO {
	font-weight: bolder;
	overflow: visible !important;
	white-space: normal !important;
}

.formInputField:focus {
	border: 2px solid #00518E;
}

.formInputField:hover {
	border: 2px solid black;
}

.deleteIcon {
	margin-left: 5px;
	width: 1rem;
	opacity: 0.3;
}

.deleteIcon:hover {
	transition: 0.2s;
	opacity: 1;
	cursor: pointer;
}

.fileUpload {
	width: fit-content;
}

.fileUpload:hover {
	border: 2px solid #00518E;
	transform: scale(1.02);
	transition: 0.1s;
}

.img-home-navbar {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	width: 100px;
}

.application .cell {
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;

}

.application .cell-file {
	width: 100%;
	display: flex;
	justify-content: center;
}

.custom-file-upload {
	border: 1px solid #ccc;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
	text-align: center;
	width: 80%;
	background-color: #136DAB;
	color: white;
}

.custom-file-upload input[type=file] {
	display: none;
}


.cell-app {
	display: flex;
	font-weight: normal;
}

.cell-app div:first-child {
	width: 300px;
}

.flex {
	display: flex;
}

#dashboard #legend {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	margin-right: 40px;
	margin-top: 40px;
}

#dashboard p {
	text-align: center;
	margin-left: 3px;
}

#application #data-application {
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 0px;
	grid-row-gap: 10px;
	margin-left: 40px;
}

#application #data-application-header {
	display: inline-block;
	margin-left: 15px;
}

#application #data-application-name {
	margin-left: 20px;
	font-size: 40px;
	color: #4A4A4A;
	font-weight: normal;
	display: inline-block
}

#application .separator {
	margin-top: 30px;
	margin-left: 25px;
	margin-right: 50px;
}

#application .box {
	margin-top: 15px;
	margin-left: 40px;
	height: fit-content;
}

#application .box h1 {
	margin-block-end: 20px;
	font-size: 20px;
	color: #4A4A4A;
	font-weight: normal;
	text-decoration: underline;
	text-decoration-color: #1D85D0;
	text-underline-offset: 0.5rem;
}

#application .box #files {
	display: grid;
	row-gap: 3px;
}

#application .box #files a {
	text-decoration: none;
	color: #4C94FF;
}