body {
	height: fit-content;
	margin: 0;
	/* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Playfair Display", sans-serif; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #F7F7F7;
	font-family: "Montserrat", sans-serif;
}

* {
	font-size: 18px;
}

#root {
	min-height: 100vh;
	min-width: 100vh;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.content {
	padding: 5px;
}

.header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 0;
	background: #ffffff;
	border-bottom: 1px solid #999;
	width: 100%;
	box-shadow: 2px 2px 2px grey;
}

.header>div {
	margin-left: 15px;
}

.header-home {
	background: #136DAB;
	min-height: 91vh;
	box-shadow: 2px 2px 2px grey;
}

.header-home a {
	color: #0072ff;
	text-decoration: none;
	text-align: center;
	display: block;
	border-bottom: 1px solid #ffffff;
	width: 100%;
}

.header-home .cell {
	min-height: 120px;
	min-width: 120px;
}

.header-home .cell:hover {
	background-color: #00518E;
	transition: 0.2s;
}

.header-home .active .cell {
	background-color: #00518E;
}

.header .emkk {
	margin-right: auto;
	padding: 0 15px;
	margin-top: 15px;
	margin-left: 15px;
	margin-bottom: 15px;
	font-size: 35px
}

.header .link {
	padding: 0 15px;
	color: #0072ff;
	text-decoration: none;
}

.header a:hover {
	color: #8a0f53;
}

.header small {
	color: #666;
}

.header .active {
	color: #2c7613;
}

.inputField {
	border: none;
	background: transparent;
	border-bottom: 1px solid;
	width: 40vh;
}


.inputField:focus {
	outline: none;
}

.formInputField {
	width: 400px;
	height: 35px;
}


.rdt_TableCol_Sortable :first-child {
	font-weight: bolder;
	overflow: visible !important;
	white-space: normal !important;
}

.formInputField:focus {
	border: 2px solid #00518E;
}

.formInputField:hover {
	border: 2px solid black;
}

.deleteIcon {
	margin-left: 5px;
	width: 1rem;
	opacity: 0.3;
}

.deleteIcon:hover {
	transition: 0.2s;
	opacity: 1;
	cursor: pointer;
}

.fileUpload {
	width: fit-content;
}

.fileUpload:hover {
	border: 2px solid #00518E;
	transform: scale(1.02);
	transition: 0.1s;
}

.img-home-navbar {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	width: 100px;
}

.application {
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 5px;
	grid-row-gap: 10px;
	margin: 10px 10px 10px 10px;
}

.application .cell {
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;
}

.application .cell-file {
	width: 100%;
	display: flex;
	justify-content: center;
}

.custom-file-upload {
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
	text-align: center;
	width: 80%;
	background-color: #E8E8E8;
	border-radius: 5px;
}

.custom-file-upload:hover {
	background-color: #E1E1E1;
}

.custom-file-upload input[type=file] {
	display: none;
}


.cell-app {
	display: flex;
	font-weight: normal;
}

.cell-app div:first-child {
	width: 300px;
}

.flex {
	display: flex;
}

.Home {
	display: flex;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}

#dashboard .legend {
	display: flex;
	justify-content: space-evenly;
	margin-top: 20px;
}

#dashboard p {
	text-align: center;
	margin-left: 3px;
}

#application #data-application {
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 0px;
	grid-row-gap: 10px;
	margin-left: 40px;
}

#application #data-application-header {
	display: inline-block;
	margin-left: 15px;
}

#application #data-application-name {
	margin-left: 20px;
	font-size: 40px;
	color: #4A4A4A;
	font-weight: normal;
	display: inline-block
}

#application .separator {
	margin-top: 30px;
	margin-left: 25px;
	margin-right: 50px;
}

#application .box {
	margin-top: 15px;
	margin-left: 40px;
	height: fit-content;
}

#application .box h1 {
	margin-block-end: 20px;
	font-size: 20px;
	color: #4A4A4A;
	font-weight: normal;
	text-decoration: underline;
	text-decoration-color: #1D85D0;
	text-underline-offset: 0.5rem;
}

#application .box #files {
	display: grid;
	row-gap: 3px;
}

#application .box #files a {
	text-decoration: none;
	color: #4C94FF;
}

#application #info-for-reviewer {
	margin-left: 40px;
	margin-top: 10px;
	display: flex;
}

#application #info-for-reviewer div {
	margin-right: 10px;
}

.review-form {
	margin-top: 15px;
	margin-right: 50px;
}

.review-form #buttons {
	display: flex;
	justify-content: space-evenly;
	margin-top: 10px;
}

.review-content-editing {
	padding-left: 40px;
}

.profile-box {
	background-color: white;
	width: 70%;
	height: fit-content;
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 0;
	grid-row-gap: 10px;
	margin-top: 1rem;
}

.profile-cell {
	display: flex;
	padding: 0.75rem;
}

.profile-cell div:first-child {
	width: 200px;
}

.profile-parent-box {
	background-color: white;
	border-radius: 10px;
	margin-top: 5rem;
	margin-left: 7rem;
	width: 70%;

}

.profile-header {
	font-size: 1.25rem;
	font-weight: bold;
	padding: 1.5rem 1.5rem 0.75rem 1.5rem;
}

#application a {
	text-decoration: none;
}

#registration {
	padding: 3rem 2rem 1rem 2rem;
	display: flex;
	width: 35%;
	border: 0.1rem outset gray;
	border-radius: 15px;
	position: fixed;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	justify-content: center;
	max-height: 75%;
}

.review-content {
	background-color: #D4D4D4;
	border-radius: 10px;
	margin-right: 49px;
	margin-top: 15px;
}

.review-content .comment {
	height: fit-content;
	min-height: 150px;
	margin: 20px 30px 10px 30px;
	padding: 10px 10px;
}

.review-content .status {
	margin-left: 37px;
	padding-top: 22px;
	display: flex;
	align-items: center;
}

.reset-password {
	display: grid;
	border: 0.5px solid gray;
	border-radius: 15px;
	padding: 35px;
	grid-row-gap: 10px;
}

#not-found {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#not-found>span {
	font-size: 140px;
}

#not-found>span+span, code {
	font-size: 30px;
}


@media screen and (max-width : 1024px) {
	#application #data-application {
		display: block;
	}

	#application #data-application .cell-app {
		display: block;
	}
}